---
# Rollback tasks for git role
# This file is called when setup fails to revert configuration changes

- name: Rollback ansible-devbox-setup configuration from .zshrc
  ansible.builtin.blockinfile:
    path: "{{ ansible_env.HOME }}/.zshrc"
    marker: "# {mark} ANSIBLE MANAGED BLOCK - Devbox configuration"
    state: absent
  when: ansible_os_family == "Darwin"
  failed_when: false

- name: Remove git role .zshrc configuration file
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.zshrc.git-config"
    state: absent
  when: ansible_os_family == "Darwin"
  failed_when: false

- name: Display rollback status
  ansible.builtin.debug:
    msg: "Git role rollback completed (configuration blocks and files removed)"
